.cell {
    position: relative;
    height: 100px;
    width: 100px;
}

.white {
    background-color: #a8a18f;
}

.black {
    background-color: #837c6a;
}

.piece {
    height: 100px;
    width: 100px;
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: 2;
}