$chessboard-size: 800px;
$white-square: #a8a18f;
$black-square: #837c6a;

.chessboard {
  width: $chessboard-size;
  height: $chessboard-size;
  background-color: $white-square;
  background-image: linear-gradient(
      45deg,
      $black-square 25%,
      transparent 25%,
      transparent 75%,
      $black-square 75%,
      $black-square
    ),
    linear-gradient(
      45deg,
      $black-square 25%,
      transparent 25%,
      transparent 75%,
      $black-square 75%,
      $black-square
    );

  background-size: $chessboard-size / 4 $chessboard-size / 4;
  background-position: 0 0, $chessboard-size / 8 $chessboard-size / 8;

  position: relative;
}

.promotion {
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  width: $chessboard-size;
  height: $chessboard-size;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.promotion-piece {
  width: 100px;
  height: 100px;
  z-index: 101;

  background-size: 100px 100px;
  user-select: none;
}

.promotion-piece:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  transition: background-color 0.2s ease-in-out;
}
